@use '_colours.scss';

.action-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  input,
  select {
    min-height: 45px;
    margin: 5px 10px 10px 0;
  }
}

table {
  border: 1px solid colours.$table-borders;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid colours.$table-borders;
  padding: .35em;
}

tr:nth-child(even) {
  background-color: colours.$table-row-background;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 800;
  background-color: colours.$brand-primary;
}

table tfoot {
  th {
  background-color: colours.$brand-secondary;
  color: colours.$contrast-text;
  text-align: right;
  }
  td {
    font-weight: bold;
    border: 2px solid;
  }
}

.currency {
  text-align: right;
  width: 150px;
  padding-right: 50px;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid colours.$table-borders;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid colours.$table-borders;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}